<a href="https://colab.research.google.com/github/Thirumalkshatriya/Sanjay-Practice/blob/master/Python_classes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class Snake:
    name = " "
    snake_length = ""	#snake attributes
    colour = ""
    teeth = False		#boolean is true/false
    poisonus = False

    def __init__(self,name,snake_length,colour,teeth,poisonus):           # Init means class constructor
        self.name = name
        self.snake_length = snake_length
        self.colour = colour
        self.teeth = teeth
        self.poisonus = poisonus

    def __str__(self) -> str:
       return f"name:{self.name},snake_length:{self.snake_length},colour:{self.colour},teeth:{self.teeth},poisonus:{self.poisonus}"

    def set_name(self, new_name): # note that the first argument is self    	#definition/methods
        self.name = new_name # access the class attribute with the self keyword

    def get_name(self):
        return self.name


    def set_poisonus(self,new_poisonus):    # Setter defination
        self.poisonus = new_poisonus

    def get_poisonus(self):
        return self.poisonus

    def set_colour(self,new_colour):
        self.colour = new_colour

    def get_colour(self):
        return self.colour

    def set_teeth(self,new_teeth):
        self.teeth = new_teeth

    def get_teeth(self):
        return self.teeth

    def set_length(self,new_length):
        self.snake_length = new_length

    def get_length(self):
        return self.snake_length

    def snake_bite(self):
        print(self.name + " bites the player")

    def snake_eat(self):
        print(self.name + " eats the player")

    def snake_sleep(self):
        print(self.name + " sleeps the player")

    def snake_move(self):
        print(self.name + " moves the player")

    def snake_run(self):
        print(self.name + " is running away")

    def snake_swim(self):
        print(self.name + " swimming in the river")

    def snake_fly(self):
        print(self.name + " is flying in the sky")

    def snake_crawl(self):
        print(self.name + " crawlling in the sand")

    def snake_climb(self):
        print(self.name + " climbing the big tree")

    def snake_jump(self):
        print(self.name + " jumping from the tree")




s1 = Snake("Python","12m","Green",True,True)
print(s1.__str__())
s1.snake_jump()

s2 = Snake("Cobra","20m","Blue",True,False)
print(s2.__str__())
s2.snake_fly()
s2.snake_jump()

s3 = Snake("Anakonda","25m","Green",False,True)
print(s3.__str__())
s3.snake_bite()

'''
s1.set_name("Cobra")
print(s1.__str__())

s2.set_name("Anakonda")
print(s2.__str__())

if s1.teeth == True:     # Comarision orrerator
    print("This snake has teeth")
else:
    print("This Snake has no teeth")


if s2.teeth == False:
    print("This snake has teeth")
else:
    print("This Snake has no teeth")


s1.set_poisonus(True)
print(s1.__str__())




s1.set_colour("green")
print(s1.__str__())

s1.set_teeth(True)
print(s1.__str__())


s1.set_length("20m")
print(s1.__str__())
'''
print(s1.get_name())
print(s1.get_colour())
print(s1.get_length())
print(s1.get_teeth())
print(s1.get_poisonus())

name:Python,snake_length:12m,colour:Green,teeth:True,poisonus:True
Python jumping from the tree
name:Cobra,snake_length:20m,colour:Blue,teeth:True,poisonus:False
Cobra is flying in the sky
Cobra jumping from the tree
name:Anakonda,snake_length:25m,colour:Green,teeth:False,poisonus:True
Anakonda bites the player
Python
Green
12m
True
True

In [ ]:
class Car:
    name = "" 					# Attributes and Attributes_values
    model_name = ""
    model_number = ""
    colour = ""
    fuel_type = ""
    tyres = ""
    sunroof = True
    speed = ""
    gear_type = True
    led_display = True
    engine_type = ""

    def __init__(self,name,model_name,model_number,colour,fuel_type,tyres,sunroof,speed,gear_type,led_display,engine_type):
      self.name =name
      self.model_name = model_name
      self.model_number = model_number
      self.colour = colour
      self.fuel_type = fuel_type
      self.tyres = tyres
      self.sunroof = sunroof
      self.speed = speed
      self.gear_type = gear_type
      self.led_display = led_display
      self.engine_type = engine_type

    def __str__(self):
      return f"name:{self.name},model_name:{self.model_name},model_number:{self.model_number},colour:{self.colour},fuel_type:{self.fuel_type},tyres:{self.tyres},sunroof:{self.sunroof},speed:{self.speed},gear_type:{self.gear_type},led_display:{self.led_display},engine_type:{self.engine_type}"

    def set_name(self,new_name):
      self.name = new_name
    def get_name(self):
      return self.name

    def set_model_name(self,new_model_name):
      self.model_name = new_model_name
    def get_model_name(self):
      return self.model_name

    def set_model_number(self,new_model_number):
      self.model_number = new_model_number
    def get_model_number(self):
      return self.model_number

    def set_colour(self,new_colour):
      self.colour = new_colour
    def get_colour(self):
      return self.colour

    def set_fuel_type(self,new_fuel_type):
      self.fuel_type = new_fuel_type
    def get_fuel_type(self):
      return self.fuel_type

    def set_tyres(self,new_tyres):
      self.tyres = new_tyres
    def get_tyres(self):
      return self.tyres


    def set_sunroof(self,new_sunroof):
      self.sunroof = new_sunroof
    def get_sunroof(self):
      return self.sunroof


    def set_speed(self,new_speed):
      self.speed = new_speed
    def get_speed(self):
      return self.speed


    def set_gear_type(self,new_gear_type):
      self.gear_type = new_gear_type
    def get_gear_type(self):
      return self.gear_type

    def set_led_display(self,new_led_display):
      self.led_display = new_led_display
    def get_led_display(self):
      return self.led_display

    def set_engine_type(self,new_engine_type):
      self.engine_type = new_engine_type
    def get_engine_type(self):
      return self.engine_type

    def car_drive(self):
      print(self.name + " is driving the car to sanjay home")

    def car_stop(self):
      print(self.name + " is stopping the car infront of the Shopping mall")

    def car_turn_right(self):
      print(self.name + " is turning right to the office")

    def car_turn_left(self):
      print(self.name + " is turning left to the hospital")

    def car_brake(self):
      print(self.name + " is breaking the car because of ")

    def car_accelerate(self):
      print(self.name + " is accelerating the car to reach office early ")

    def car_change_gear(self):
      print(self.name + " is changing the gear")

    def car_change_tyres(self):
      print(self.name + " is  changing the tyres")

    def car_change_sunroof(self):
      print(self.name + " is changing the sunroof")

    def car_change_speed(self):
      print(self.name + " is changing the speed")

    def car_change_led_display(self):
      print(self.name + " is changing the led display")

    def car_change_engine_type(self):
      print(self.name + " is changing the engine type")



p1 = Car("Sujay","Innova","2023","Meroon","Petrol","Normal",True,"150km/hr",False,False,"Two stroke Engine")
print(p1.__str__())
p1.car_drive()
p1.car_stop()

p2 = Car("Rony","Eratiga","2022","Black","Desiel","Magwheel",False,"170km/hr",True,False,"Four stroke Engine")
print(p2.__str__())
p2.car_accelerate()
p2.car_change_gear()

p3 = Car("Abay","Q7","2024","White","Electric","Magwheel",True,"250km/hr",True,True,"six stroke Engine")
print(p3.__str__())
p3.car_brake()
p3.car_change_tyres()

p4 = Car("Krishna","Ranger over","2024","Black","Gas","Magwheel",True,"220km/hr",True,False,"Four stroke Engine")
print(p4.__str__())
p4.car_turn_left()
p4.car_change_sunroof()





'''
p1.set_colour("White")
print(p1.colour)
p1.set_fuel_type("Diesel")
print(p1.fuel_type)
p1.set_tyres("Sports")
print(p1.tyres)
p1.set_sunroof(False)
print(p1.sunroof)
p1.set_speed("200km/hr")
print(p1.speed)
p1.set_gear_type(False)
print(p1.gear_type)
p1.set_led_display(True)
print(p1.led_display)
p1.set_engine_type("Six stroke")
print(p1.engine_type)


print(p1.get_name())
print(p1.get_colour())
print(p1.get_fuel_type())
print(p1.get_tyres())
print(p1.get_sunroof())
print(p1.get_speed())
print(p1.get_gear_type())
print(p1.get_led_display())
print(p1.get_engine_type())
'''

name:Sujay,model_name:Innova,model_number:2023,colour:Meroon,fuel_type:Petrol,tyres:Normal,sunroof:True,speed:150km/hr,gear_type:False,led_display:False,engine_type:Two stroke Engine
Sujay is driving the car to sanjay home
Sujay is stopping the car infront of the Shopping mall
name:Rony,model_name:Eratiga,model_number:2022,colour:Black,fuel_type:Desiel,tyres:Magwheel,sunroof:False,speed:170km/hr,gear_type:True,led_display:False,engine_type:Four stroke Engine
Rony is accelerating the car to reach office early
Rony is changing the gear
name:Abay,model_name:Q7,model_number:2024,colour:White,fuel_type:Electric,tyres:Magwheel,sunroof:True,speed:250km/hr,gear_type:True,led_display:True,engine_type:six stroke Engine
Abay is breaking the car because of
Abay is  changing the tyres
name:Krishna,model_name:Ranger over,model_number:2024,colour:Black,fuel_type:Gas,tyres:Magwheel,sunroof:True,speed:220km/hr,gear_type:True,led_display:False,engine_type:Four stroke Engine
Krishna is turning left to the hospital
Krishna is changing the sunroof

'\np1.set_colour("White")\nprint(p1.colour)\np1.set_fuel_type("Diesel")\nprint(p1.fuel_type)\np1.set_tyres("Sports")\nprint(p1.tyres)\np1.set_sunroof(False)\nprint(p1.sunroof)\np1.set_speed("200km/hr")\nprint(p1.speed)\np1.set_gear_type(False)\nprint(p1.gear_type)\np1.set_led_display(True)\nprint(p1.led_display)\np1.set_engine_type("Six stroke")\nprint(p1.engine_type)\n\n\nprint(p1.get_name())\nprint(p1.get_colour())\nprint(p1.get_fuel_type())\nprint(p1.get_tyres())\nprint(p1.get_sunroof())\nprint(p1.get_speed())\nprint(p1.get_gear_type())\nprint(p1.get_led_display())\nprint(p1.get_engine_type())\n'

In [ ]:
class Pen:
    name = ""
    ink_type = ""
    refill = ""
    pencolour = ""
    cap = True
    size = ""

    def __init__(self,name,ink_type,refill,pencolour,cap,size):
      self.name = name
      self.ink_type = ink_type
      self.refill = refill
      self.pencolour = pencolour
      self.cap = cap
      self.size = size

    def __str__(self):
      return f"name:{self.name},ink_type:{self.ink_type},refill:{self.refill},pencolour:{self.pencolour},cap:{self.cap},size:{self.size}"

    def set_name(self,new_name):
      self.name = new_name

    def get_name(self):
      return self.name

    def set_ink_type(self,new_ink_type):
      self.ink_type = new_ink_type

    def get_ink_type(self):
      return self.ink_type

    def set_refill(self,new_refill):
      self.refill = new_refill

    def get_refill(self):
      return self.refill

    def set_pencolour(self,new_pencolour):
      self.pencolour = new_pencolour

    def get_pencolour(self):
      return self.pencolour

    def set_cap(self,new_cap):
      self.cap = new_cap

    def get_cap(self):
      return self.cap

    def set_size(self,new_size):
      self.size = new_size

    def get_size(self):
      return self.size

    def pen_write(self):
      print(self.name + " is writing")

    def pen_erase(self):
      print(self.name + " is erasing")

    def pen_draw(self):
      print(self.name + " is drawing")

    def pen_fill(self):
      print(self.name + " is filling")

    def pen_erase_all(self):
      print(self.name + " is erasing all")

    def pen_change_size(self):
      print(self.name + " is changing the size")

    def pen_change_ink_type(self):
      print(self.name + " is changing the ink type")

    def pen_change_refill(self):
      print(self.name + " is changing the refill")

    def pen_change_pencolour(self):
      print(self.name + " is changing the pencolour")

    def pen_change_cap(self):
      print(self.name + " is changing the cap")





r1 = Pen("Ballpoint","Ball","Plastic","Blue",True,"Thick")
print(r1.__str__())
r1.pen_write()
r1.pen_erase()

r2 = Pen("Cello","Gel","Plastic","Red",False,"Thin")
print(r2.__str__())
r2.pen_draw()
r2.pen_fill()

r3 = Pen("Flair","ink","Plastic","Black",True,"Thick")
print(r3.__str__())
r3.pen_erase_all()
r3.pen_change_size()

'''
r1.set_name("Ballpoint")
print(r1.name)

r1.set_ink_type("Ball")
print(r1.ink_type)

r1.set_refill("Plastic")
print(r1.refill)

r1.set_pencolour("Blue")
print(r1.pencolour)

r1.set_cap(True)
print(r1.cap)

r1.set_size("Thick")
print(r1.size)

r1.set_size("Thin")
print(r1.size)

r1.get_name()
print(r1.name)

r1.get_ink_type()
print(r1.ink_type)

r1.get_refill()
print(r1.refill)

r1.get_pencolour()
print(r1.pencolour)

r1.get_cap()
print(r1.cap)

r1.get_size()
print(r1.size)

'''

name:Ballpoint,ink_type:Ball,refill:Plastic,pencolour:Blue,cap:True,size:Thick
Ballpoint is writing
Ballpoint is erasing
name:Cello,ink_type:Gel,refill:Plastic,pencolour:Red,cap:False,size:Thin
Cello is drawing
Cello is filling
name:Flair,ink_type:ink,refill:Plastic,pencolour:Black,cap:True,size:Thick
Flair is erasing all
Flair is changing the size

'\nr1.set_name("Ballpoint")\nprint(r1.name)\n\nr1.set_ink_type("Ball")\nprint(r1.ink_type)\n\nr1.set_refill("Plastic")\nprint(r1.refill)\n\nr1.set_pencolour("Blue")\nprint(r1.pencolour)\n\nr1.set_cap(True)\nprint(r1.cap)\n\nr1.set_size("Thick")\nprint(r1.size)\n\nr1.set_size("Thin")\nprint(r1.size)\n\nr1.get_name()\nprint(r1.name)\n\nr1.get_ink_type()\nprint(r1.ink_type)\n\nr1.get_refill()\nprint(r1.refill)\n\nr1.get_pencolour()\nprint(r1.pencolour)\n\nr1.get_cap()\nprint(r1.cap)\n\nr1.get_size()\nprint(r1.size)\n\n'

In [ ]:
# Adding elements to the  LIST

my_list = []					# defining empty list
my_list = [1,2,3,4,6]
my_list.append(8)
print(my_list)

[1, 2, 3, 4, 6, 8]

In [ ]:
# Deep copy
data = [2,3,4,5,6,8]
temp = data
data.pop
print(id(data))
print(id(temp))
print(data)
print(temp)
data is temp

134541429074368
134541429074368
[2, 3, 4, 5, 6, 8]
[2, 3, 4, 5, 6, 8]

True

In [ ]:
# Shallow copy
data = [2,3,4,5,6,8]
temp = data.copy()
data.pop
print(id(data))
print(id(temp))
print(data)
print(temp)
data is temp

134541429170304
134541428945024
[2, 3, 4, 5, 6, 8]
[2, 3, 4, 5, 6, 8]

False

In [ ]:
# Even or add
list = [11,24,37,46,58,60]
for i in list:
  if i%2 == 0:
    print(i,"is even")
  else:
    print(i,"is odd")

11 is odd
24 is even
37 is odd
46 is even
58 is even
60 is even

In [ ]:
list = [11,24,37,46,58,60]
if i%2 == 1:
  print(str(i) +"is odd")
if i%2 ==0:
  print(str(i) +"is even")

60is even

In [ ]:
# Maximum and minimum number
list = [11,24,37,46,58,60]
print(max(list))
print(min(list))

60
11

In [ ]:
list = [11,24,37,46,58,60]
max = list[0]
for i in list:
  if i > max:
    max = i
print("max is str (max)")

max is str (max)

In [ ]:
list = [11,24,37,46,58,60]
list.sort()
print(list)

[11, 24, 37, 46, 58, 60]

In [ ]:
list = [11,24,37,46,58,60]
list.reverse()
print(list)

[60, 58, 46, 37, 24, 11]

In [ ]:
list = [11,24,37,46,58,60]
list.sort(reverse=True)
print(list)

[60, 58, 46, 37, 24, 11]

In [ ]:
list = [11,24,37,46,58,60]
list.sort(reverse=False)
print(list)

[11, 24, 37, 46, 58, 60]

In [ ]:
# Sum of numbers in list
list = [11,24,37,46,58,60]
sum = 0
for i in list:
  sum = sum + i
print("sum is " + str(sum))

sum is 236

In [ ]:
list = [11,24,37,46,58,60]
sum = 0
for i in list:
  sum += i
print("Avg is " + str(sum/6))

Avg is 39.333333333333336

In [ ]:
list = [11,24,37,46,58,60]
sum = 0
for i in list:
  sum += i
print("Avg is " + str(sum/len(list)))

Avg is 39.333333333333336

In [ ]:
# Frequency of odd and even number in a list
list = [10,11,12,13,14,15,16,17,18,19,20]
num_even = 0
num_odd = 0
for i in list:
  if i%2 == 0:
    num_even += 1
  else:
    num_odd += 1
print("even is " + str(num_even))
print("odd is " + str(num_odd))

even is 6
odd is 5

In [ ]:
# Multiplication table of 2
num = 2
for i in range(1,11):
  print(num,"x",i,"=",num*i)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [ ]:
# power off

num = 4
pow = 3
result = 1
for i in range(pow):
  result = result * num
print(result)

64

In [ ]:
num = 4
pow = 3
result = 1
while pow > 0:
  result = result * num
  pow = pow - 1
print(result)

64

In [ ]:
num = 4
pow = 3
num_pow = num ** pow
print("power of number" + str( num ) + " is " + str(num_pow))

power of number4 is 64

In [ ]:
# Factorial of number
num = 4
fact = 1
for i in range(1,num+1):
  fact = fact * i
print(fact)

24

In [ ]:
num = 4
fact = 1
while num > 0:
  fact = fact * num
  num = num - 1
print(fact)

24

In [ ]:
# Swapping numbers

num1 = 10
num2 = 20
temp = num1
num1 = num2
num2 = temp
print(num1)
print(num2)

20
10

In [ ]:
num1 = 10
num2 = 20
num1,num2 = num2,num1
print(num1)
print(num2)

20
10

In [ ]:
num1 = 10
num2 = 20
num1 = num1 + num2
num2 = num1 - num2
num1 = num1 - num2
print(num1)
print(num2)

20
10

In [ ]:
num1 = 10
num2 = 20
num1 = num1 ^ num2
num2 = num1 ^ num2
num1 = num1 ^ num2
print(num1)
print(num2)

20
10

In [ ]:
num1 = 10
num2 = 20
num1 = num1 * num2
num2 = num1 / num2
num1 = num1 / num2
print(num1)
print(num2)

20.0
10.0

In [ ]:
from os import TMP_MAX
num1 = 10
num2 = 20

tmp = num1
num1 = num2
num2 = tmp
print("number1 is" + str(num1))
print("number2 is" + str(num2))

number1 is20
number2 is10

In [ ]:
# Count frequency of number in a list

list = [10,11,12,13,14,15,16,17,18,19,20]
num = 10
count = 0
for i in list:
  if i == num:
    count += 1
print(count)

1

In [ ]:
list = [10,11,12,13,14,15,16,17,18,19,20]
num = 10
count = list.count(num)
print(count)

1

In [ ]:
list = [10,11,12,13,14,15,16,17,18,19,20]
num = 10,20
count = 0
for i in list:
  if i in num:
    count += 1
print("number of occurrences is" + str(count))

number of occurrences is2

In [ ]:
# Reversing a list with built in function
list = [10,11,12,13,14,15,16,17,18,19,20]
list.reverse()
print(list)

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10]

In [ ]:
# Reversing a list without built in function
list = [10,11,12,13,14,15,16,17,18,19,20]
for i in list[::-1]:
  print(i)

20
19
18
17
16
15
14
13
12
11
10

In [ ]:
# Strings

my_str = "I am learning python"
print(my_str)

I am learning python

In [ ]:
for i in my_str:
  print(i)

I

a
m

l
e
a
r
n
i
n
g

p
y
t
h
o
n

In [ ]:
print (my_str[:4])

I am

In [ ]:
print (my_str[4:])

 learning python

In [ ]:
print (my_str[::-1])

nohtyp gninrael ma I

In [ ]:
# First 6 characters
print (my_str[:6])

I am l

In [ ]:
# Last 6 characters
print (my_str[-6:])

python

In [ ]:
# String in reverse order
print (my_str[::-1])

nohtyp gninrael ma I

In [ ]:
# Concatenation of string
my_str = "I am learning Python"
new_str = "Besant Technologies"
third_str = my_str + " " + new_str
print(third_str)

I am learning Python Besant Technologies

In [ ]:
# Splitting string
my_split = "I am learning Python"
print(my_str.split())

['I', 'am', 'learning', 'Python']

In [ ]:
My_split = my_str.split()
print(My_split)

['I', 'am', 'learning', 'Python']

In [11]:
# Search a word in string
my_str = "I am learning Python"
new_str = "In Besant technologies"
third_str = my_str + " " + my_str
print(third_str)
search_str = "technologies"
if search_str in third_str:
  print("yes the word is present in string")
else:
  print("no the word is not present in string")

I am learning Python I am learning Python
no the word is not present in string

In [ ]:
# Replacing a word in a string
my_str = "I am learning Python"
new_str = "In Besant technologies"
third_str = my_str + " " + new_str
my_str.replace("learning","Teaching")
print(third_str.replace("learning","Teaching"))

I am Teaching Python In Besant technologies

In [ ]:
# # compare 2 strings are equal or not
my_str = "I am learning Python"
new_str = "In Besant technologies"
third_str = my_str + " " + new_str
fourth_str = "I am Teaching Python in my college"
if third_str == fourth_str:
  print("yes the strings are equal")
else:
  print("no the strings are not equal")

no the strings are not equal

In [ ]:
# Remove spaces in a string

fourth_str = "I am Teaching Python in my college"
print(fourth_str)
print(fourth_str.strip())
print(fourth_str.replace(" ",""))

I am Teaching Python in my college
I am Teaching Python in my college
IamTeachingPythoninmycollege

In [12]:
# Check if string is pallindrome
my_str = "ABCD"
if my_str == my_str[::-1]:
  print("yes the string is pallindrome")
else:
  print("no the string is not pallindrome")

no the string is not pallindrome

In [ ]:
# Length of a string
fourth_str = "I am Teaching Python in my college"
print(len(fourth_str))

34

In [ ]:
# Check how many times letters repeated in a string
fourth_str = "I am Teaching Python in my college"
my_char = "i"
count = 0
for i in fourth_str:
  if i == my_char:
    count += 1
print(count)

2

In [13]:
# Dictionaries

# Key value pair
my_dict = {
    'roll_no' : '1234',
    'name':'Sanjay',
    'school name' : 'Reva university',
    'Dob' : '18/08/2002',
    'Maths' : 95,
    'Sceince' : 89,
    'Social' : 67,
    'Kannada' : 102,
    'English' : 99,
    'Hindi' : 93,

    }

print(my_dict['name'])
for i in my_dict.items():
  print(i)

My_total = my_dict['Maths'] + my_dict['Sceince'] + my_dict['Social'] + my_dict['Kannada'] + my_dict['English'] + my_dict['Hindi']
print(My_total)
My_percentage = My_total//6
print(My_percentage)

Sanjay
('roll_no', '1234')
('name', 'Sanjay')
('school name', 'Reva university')
('Dob', '18/08/2002')
('Maths', 95)
('Sceince', 89)
('Social', 67)
('Kannada', 102)
('English', 99)
('Hindi', 93)
545
90

In [ ]:
# States in India & their capitals

State_dict = {
    'Andhra Pradesh' : 'Amaravati',
    'Arunachal Pradesh' : 'Itanagar',
    'Assam' : 'Dispur',
    'Bihar' : 'Patna',
    'Chhattisgarh' : 'Raipur',
    'Goa' : 'Panaji',
    'Gujarat' : 'Gandhinagar',
    'Haryana' : 'Chandigarh',
    'Himachal Pradesh' : 'Shimla',
    'Jharkhand' : 'Ranchi',
    'Karnataka' : 'Bengaluru',
    'Telangana' : 'Hyderabad',
    'Madhya Pradesh' : 'Bhopal',
    'Maharashtra' : 'Mumbai',
    'Manipur' : 'Imphal',
    'Meghalaya' : 'Shillong',
    'Mizoram' : 'Aizawl',
    'Nagaland' : 'Kohima',
    'Odisha' : 'Bhubaneswar',
    'Punjab' : 'Chandigarh',
    'Rajasthan' : 'Jaipur',
    'Sikkim' : 'Gangtok',
    'Tamil Nadu' : 'Chennai',
    'Tripura' : 'Agartala',
    'Uttar Pradesh' : 'Lucknow',
    'West Bengal' : 'Kolkata',

}
for key,value in State_dict.items():
  print(key + " : " + value)

Andhra Pradesh : Amaravati
Arunachal Pradesh : Itanagar
Assam : Dispur
Bihar : Patna
Chhattisgarh : Raipur
Goa : Panaji
Gujarat : Gandhinagar
Haryana : Chandigarh
Himachal Pradesh : Shimla
Jharkhand : Ranchi
Karnataka : Bengaluru
Telangana : Hyderabad
Madhya Pradesh : Bhopal
Maharashtra : Mumbai
Manipur : Imphal
Meghalaya : Shillong
Mizoram : Aizawl
Nagaland : Kohima
Odisha : Bhubaneswar
Punjab : Chandigarh
Rajasthan : Jaipur
Sikkim : Gangtok
Tamil Nadu : Chennai
Tripura : Agartala
Uttar Pradesh : Lucknow
West Bengal : Kolkata

In [ ]:
# Length of dictionary
print("number of states in dictionary is :" + str(len(State_dict)))

number of states in dictionary is :26

In [ ]:
# changing value in dictionary
State_dict['Karnataka'] = 'Mangalore'
for key,value in State_dict.items():
  print(key + " : " + value)

Andhra Pradesh : Amaravati
Arunachal Pradesh : Itanagar
Assam : Dispur
Bihar : Patna
Chhattisgarh : Raipur
Goa : Panaji
Gujarat : Gandhinagar
Haryana : Chandigarh
Himachal Pradesh : Shimla
Jharkhand : Ranchi
Karnataka : Mangalore
Telangana : Hyderabad
Madhya Pradesh : Bhopal
Maharashtra : Mumbai
Manipur : Imphal
Meghalaya : Shillong
Mizoram : Aizawl
Nagaland : Kohima
Odisha : Bhubaneswar
Punjab : Chandigarh
Rajasthan : Jaipur
Sikkim : Gangtok
Tamil Nadu : Chennai
Tripura : Agartala
Uttar Pradesh : Lucknow
West Bengal : Kolkata

In [ ]:
# Adding new item in dictionary
State_dict['Uttar Pradesh'] = 'Lucknow'
for key,value in State_dict.items():
  print(key + " : " + value)

Andhra Pradesh : Amaravati
Arunachal Pradesh : Itanagar
Assam : Dispur
Bihar : Patna
Chhattisgarh : Raipur
Goa : Panaji
Gujarat : Gandhinagar
Haryana : Chandigarh
Himachal Pradesh : Shimla
Jharkhand : Ranchi
Karnataka : Mangalore
Telangana : Hyderabad
Madhya Pradesh : Bhopal
Maharashtra : Mumbai
Manipur : Imphal
Meghalaya : Shillong
Mizoram : Aizawl
Nagaland : Kohima
Odisha : Bhubaneswar
Punjab : Chandigarh
Rajasthan : Jaipur
Sikkim : Gangtok
Tamil Nadu : Chennai
Tripura : Agartala
Uttar Pradesh : Lucknow
West Bengal : Kolkata

In [ ]:
# Remove a state from a dictionary
del State_dict['Karnataka']
for key,value in State_dict.items():
  print(key + " : " + value)

Andhra Pradesh : Amaravati
Arunachal Pradesh : Itanagar
Assam : Dispur
Bihar : Patna
Chhattisgarh : Raipur
Goa : Panaji
Gujarat : Gandhinagar
Haryana : Chandigarh
Himachal Pradesh : Shimla
Jharkhand : Ranchi
Telangana : Hyderabad
Madhya Pradesh : Bhopal
Maharashtra : Mumbai
Manipur : Imphal
Meghalaya : Shillong
Mizoram : Aizawl
Nagaland : Kohima
Odisha : Bhubaneswar
Punjab : Chandigarh
Rajasthan : Jaipur
Sikkim : Gangtok
Tamil Nadu : Chennai
Tripura : Agartala
Uttar Pradesh : Lucknow
West Bengal : Kolkata

In [ ]:
State_dict.pop('Telangana')
for key,value in State_dict.items():
  print(key + " : " + value)

Andhra Pradesh : Amaravati
Arunachal Pradesh : Itanagar
Assam : Dispur
Bihar : Patna
Chhattisgarh : Raipur
Goa : Panaji
Gujarat : Gandhinagar
Haryana : Chandigarh
Himachal Pradesh : Shimla
Jharkhand : Ranchi
Madhya Pradesh : Bhopal
Maharashtra : Mumbai
Manipur : Imphal
Meghalaya : Shillong
Mizoram : Aizawl
Nagaland : Kohima
Odisha : Bhubaneswar
Punjab : Chandigarh
Rajasthan : Jaipur
Sikkim : Gangtok
Tamil Nadu : Chennai
Tripura : Agartala
Uttar Pradesh : Lucknow
West Bengal : Kolkata

In [ ]:
# Add state in dict by checking its present
if 'Karnataka' not in State_dict:
  State_dict['Karnataka'] = 'Bengaluru'
for key,value in State_dict.items():
  print(key + " : " + value)

Andhra Pradesh : Amaravati
Arunachal Pradesh : Itanagar
Assam : Dispur
Bihar : Patna
Chhattisgarh : Raipur
Goa : Panaji
Gujarat : Gandhinagar
Haryana : Chandigarh
Himachal Pradesh : Shimla
Jharkhand : Ranchi
Madhya Pradesh : Bhopal
Maharashtra : Mumbai
Manipur : Imphal
Meghalaya : Shillong
Mizoram : Aizawl
Nagaland : Kohima
Odisha : Bhubaneswar
Punjab : Chandigarh
Rajasthan : Jaipur
Sikkim : Gangtok
Tamil Nadu : Chennai
Tripura : Agartala
Uttar Pradesh : Lucknow
West Bengal : Kolkata
Karnataka : Bengaluru