<a href="https://colab.research.google.com/github/Thirumalkshatriya/Sanjay-Practice/blob/master/Thirumal__pandas_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

df=pd.DataFrame({'A':[1,2,3],'B':[4,5,6]})
print(df)
df['C']=df['A']+df['B']
print("\n")
print(df)

   A  B
0  1  4
1  2  5
2  3  6


   A  B  C
0  1  4  5
1  2  5  7
2  3  6  9

In [ ]:
df['C']=10
print(df)

   A  B   C
0  1  4  10
1  2  5  10
2  3  6  10

In [ ]:
data=[['John',50,'Austin',70],
      ['Cataline',45,'San Francisco',80],
      ['Matt',30,'Boston',95]]

columns=['Name','Age','City','Marks']

idx=['x','y','z']

df=pd.DataFrame(data,columns=columns,index=idx)
print(df)

       Name  Age           City  Marks
x      John   50         Austin     70
y  Cataline   45  San Francisco     80
z      Matt   30         Boston     95

In [ ]:
data=[['John',50,'Male','Austin',70],
      ['Cataline',45,'Female','San Francisco',80],
      ['Matt',30,'Male','Boston',95],
      ['Oliver',35,'Male','New york',65]]

columns=['Name','Age','Sex','City','Marks']
df=pd.DataFrame(data,columns=columns)
df=df.sort_values(by=['Age'])
df.head()

       Name  Age     Sex           City  Marks
2      Matt   30    Male         Boston     95
3    Oliver   35    Male       New york     65
1  Cataline   45  Female  San Francisco     80
0      John   50    Male         Austin     70

In [ ]:
import pandas as pd
data={'Name':['John','Cataline','Matt'],
      'Age':[50,45,30],
      'City':['Austin','San Francisco','Boston'],
      'Marks':[70,80,95]}

df = pd.DataFrame(data)
new_df=df[(df.Name=="John")|(df.Marks>90)]
print(new_df)

   Name  Age    City  Marks
0  John   50  Austin     70
2  Matt   30  Boston     95

In [ ]:
data={'Name':['John','Matt','John','Matt','Matt','Matt'],
      'Marks':[10,20,30,15,25,18]}

df=pd.DataFrame(data)
print(df)
print("\n")
print(df.groupby('Name').mean())

   Name  Marks
0  John     10
1  Matt     20
2  John     30
3  Matt     15
4  Matt     25
5  Matt     18


      Marks
Name
John   20.0
Matt   19.5